form(action='/threads/'+thread._id+'/new' method='POST')
  input(type='hidden' name='_csrf' value=csrfToken)

  label(for='name') 名前
  input(id='name' type='text' name='name' placeholder='名前を入力してください' value='名無しさん.js')

  label(for='body') 本文
  textarea(id='body' name='body')

  input.btn.waves-effect.waves-light.right(type='submit' value='投稿')
