extend _layout.pug

block content
  h1 スレッド一覧
  a(href='/threads/new') スレッドを作成
  .collection
    for t in threads
      a.collection-item(href='/threads/'+t._id)
        = t.title
        span.badge
          = t.responses.length
          | &nbsp;responses

  .center
    ul.pagination
      - var i = 1
      while i <= pages
        li(class=(i === page ? 'active' : 'waves-effect'))
          a(href='/?page='+i)= i++
