extend _layout.pug

block content
  h1 スレッド一覧
  a(href='/threads/new') スレッドを作成
  .collection
    for t in threads
      a.collection-item(href='/threads/'+t._id)
        = t.title
        span.badge
          = t.responses.length
          | &nbsp;responses

  include _pagination.pug
