extend _layout.pug

block content
  a(href='/') &laquo;スレッド一覧に戻る

  h1
    = thread.title
  hr
  ul
    for r in thread.responses
      li
        = r.name
        | &nbsp;&gt;&nbsp;
        = r.body

  include _form_response.pug
