extend _layout.pug

block content
  a(href='/') &laquo;&nbsp;スレッド一覧に戻る

  h1
    = thread.title
  ul.collection
    - var i = 1
    for r in thread.responses
      li.collection-item
        span.title #{i++}&nbsp;:&nbsp;#{r.name}
        p= r.body

  include _form_response.pug
